/.stack-work/
hanon_mapping/
annie_mapping/
hello.txt.anon
rabbits.txt
rabbits.txt.anon
fox.txt
fox.txt.anon
goose.txt
goose.txt.anon

.hub

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
